* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
}

.pd-8 {
    padding-top: 8px;
}

.pbt-8 {
    padding-bottom: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pd-lr-10 {
    padding: 0 10px;
}

.col {
    margin: 0 8px;
}

.border {
    border: 2px dotted black;
}

.height {
    height: 50%;
}

.c-12 {
    flex: 0 0 100%;
    width: 100%;
}

.c-6 {
    flex: 0 0 50%;
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.header {
    background-color: rgb(133, 175, 247);
}

.heading {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.heading h1 {
    color: yellow;
    text-shadow: 4px 4px 2px orangered;
}

.heading p {
    font-size: 18px;
    color: #fff;
}

.body {
    margin-top: 4px;
    flex: 1;
}

.nav {
    height: 30px;
    background-color: rgb(26, 106, 236);
}

.nav-list {
    text-align: center;
}

.nav-item {
    position: relative;
    line-height: 30px;
    display: inline-block;
    border: 1px dotted #fff;
}

.nav-item a {
    display: block;
    padding: 0 32px;
    color: #fff;
    text-decoration: none;
}

.nav-item:hover a {
    opacity: 0.8;
}

.nav-item:nth-child(2) {
    padding: 0 32px;
    color: #fff;
}

.nav-item:nth-child(2):hover .navbar {
    display: block;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(26, 106, 236);
    width: 100%;
    display: none;
}

.navbar-item {
    border: 1px dotted #fff;
}

.body-content {
    display: flex;
    height: 550px;
}

.body-info-container {
    height: 100%;
}

.body-advert {
    width: 12%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body-advert div {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    background-color: bisque;
    padding: 55px 40px;
    margin: 0 10px;
    border-radius: 30px;
    border: 2px solid black;
    box-shadow: 4px 5px 2px rgba(0, 0, 0, 0.3);
}

.body-info {
    flex: 1;
    text-align: center;
}

.body-info h1 {
    margin: 32px 0;
}

.body-info table {
    margin: 0 auto;
}

table tr:first-child {
    font-size: 18px;
}

.btn {
    font-weight: 700;
    font-size: 17px;
    padding: 8px 18px;
}

textarea {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    font-size: 30px;              
}

.footer {
    text-align: center;
    background-color: rgb(133, 175, 247);
    height: 90px;
}